<div class="justify-content-center">
    <form action="/complaints/murder" method="POST">
        <div class="container form-group">
            {{#if disableAll}}
            <fieldset disabled="true">
                {{/if}}
                <div class="row mb-4 mt-4">
                    <div class="col-4">
                        <h5><strong>DETAILS OF MURDER</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Body Seen In</label>
                        <select class="custom-select" id="bodySeenIn" name="bodySeenIn">
                            <option>Choose...</option>
                            <option value="insideHome" {{{isSelected form.bodySeenIn 'insideHome'}}}>Inside home
                            </option>
                            <option value="well" {{{isSelected form.bodySeenIn 'well'}}}>Well</option>
                            <option value="road" {{{isSelected form.bodySeenIn 'road'}}}>Road</option>
                            <option value="outsideHome" {{{isSelected form.bodySeenIn 'outsideHome'}}}>Outside home
                            </option>
                            <option value="field" {{{isSelected form.bodySeenIn 'field'}}}>Field</option>
                            <option value="other" {{{isSelected form.bodySeenIn 'other'}}}>Other</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label>Date of incident</label>
                        <input type="date" class="form-control" id="Date of incident" placeholder="" name="dateBirth" value={{form.dateBirth}}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Time of incident</label>
                        <input type="time" class="form-control" id="appt" placeholder="" name="timeIncident" value={{form.timeIncident}}>
                    </div>
                    <div class="col-6">
                        <label>Location</label>
                        <input type="text" class="form-control" id="Location" placeholder="" name="locationIncident" value={{form.locationIncident}}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Any Clue/Evidence Present(optional)</label>
                        <input type="Location" class="form-control" placeholder="" name="evidencePresent" value={{form.evidencePresent}}>
                    </div>
                    <div class="col-6">
                        <label>Who saw the body first?</label>
                        <input type="text" class="form-control" placeholder="" name="personSaw" value={{form.personSaw}}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Causes of Murder</label>
                        <input type="text" class="form-control" placeholder="" name="causeMurder" value={{form.causeMurder}}>
                    </div>
                    <div class="col-6">
                        <label>Type of Murder</label>
                        <select class="custom-select" id="murderType" name="murderType">
                            <option>Choose...</option>
                            <option value="first" {{{isSelected form.murderType 'first' }}}>First Degree
                                MUrder(poisoning,torture,shooting,terrorism,deiberate
                                killing,murder done by any weapons)</option>
                            <option value="second" {{{isSelected form.murderType 'second' }}}>Second Degree
                                Murder(killing without planning in advance,firing a weapon
                                into a crowd,any act that intends to cause injury only but resulted in death instead)
                            </option>
                            <option value="third" {{{isSelected form.murderType 'third' }}}>Third Degree
                                Murder(accidently hiting and killing someone,roberry
                                resulting to robbery victim's death)</option>
                            <option value="other" {{{isSelected form.murderType 'other' }}}>Other</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Relationship with murdered person</label>
                        <input type="text" class="form-control" placeholder="" name="relationMurderbody" value={{form.relationMurderbody}}>
                    </div>
                </div>
                <div class="row mb-4 mt-4">
                    <div class="col-4">
                        <h5><strong>COMPLAINEE DETAILS</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Name<font color="red">*</font> </label>
                        <input type="text" class="form-control" id="Name" required placeholder="" name="nameDetails" value={{form.nameDetails}}>
                    </div>
                    <div class="col-6">
                        <label>Address</label>
                        <input type="text" class="form-control" id="" placeholder="1234 Main St" name="addressDetails" value={{form.addressDetails}}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Email</label>
                        <input type="email" class="form-control" id="email" placeholder="" name="emailId" value={{form.emailId}}>
                    </div>
                    <div class="col-6">
                        <label>Number</label>
                        <input type="tel" class="form-control" id="" placeholder="+91" name="phoneNumber" value={{form.phoneNumber}}><br>
                    </div>
                </div>
                <div class="row mb-4 mt-4">
                    <div class="col-4">
                        <h5><strong>WITNESS DETAILS</strong></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Witness Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="" name="witnessName" value={{form.witnessName}}>
                    </div>
                    <div class="col-6">
                        <label>Witness Ph number</label>
                        <input type="tel" class="form-control" id="ph number" placeholder="+91" name="Ph Number"value={{form.phoneNumber}}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="comment2"><label>Other details, if any.</label></label>
                        <textarea class="form-control" rows="5" id="comment2"
                            name="otherDetails" value={{form.otherDetails}}>{{form.otherDetails}}</textarea>
                    </div>
                </div>
                {{#if disableAll}}
            </fieldset>
            {{/if}}
            <div class="row float-right m-4">
                <div class="col-12">
                    {{#unless disableAll}}
                    <input type="submit" class="btn btn-success btn-lg">
                    {{/unless}}
                    <a class="btn btn-secondary btn-lg" href="/complaints">Back</a>
                </div>
            </div>
        </div>
    </form>
</div>